<div class="card">
  <div class="card-content">
    <span class="card-name">Add Product</span>
    <form (ngSubmit)="onSubmit()" class="col s6">
      <div class="row">
        <div class="input-field col-s6">
          <input type="text" placeholder="Add name" [(ngModel)]="Product.name" name="name" required >
          <label>required</label>
        </div>
        <div class="input-field col-s6">
            <input type="text" placeholder="Add place" [(ngModel)]="Product.place" name="place" required >
            <label>required</label>
        </div>
        <div class="input-field col-s6">
            <input type="text" placeholder="Add Contact name" [(ngModel)]="Product.cname" name="contactName" required >
            <label>required</label>
         </div>
        <div class="input-field col-s6">
            <input type="text" placeholder="Add Phone" [(ngModel)]="Product.cphone" name="phone" required >
            <label>required</label>
        </div>
        <div class="input-field col-s6">
            <input type="text" placeholder="What do you want?" [(ngModel)]="Product.need" name="need" required >
            <label>required</label>
        </div>
        <div >
            <input type="date" placeholder="Published" [(ngModel)]="Product.date" format="dd/MM/yyyy" name="published" min="today" required >
            <label>Publish day required</label>
        </div>

      
      </div>
        <input type="submit"  class="btn light-blue">
    </form>
  </div>
</div>

