<nav>
    <div class="nav-wrapper light-blue">
        <a href="/" class="brand-logo center  " >
            {{today | date:'fullDate'}}
        </a>
    </div>
</nav>


    
    <p-tabView>
        <p-tabPanel header="Home">
            <app-home></app-home>
        </p-tabPanel>
        <p-tabPanel header="Products">
            <app-Products></app-Products>
        </p-tabPanel>
        <p-tabPanel header="Tabla">
            <app-tabla></app-tabla>
        </p-tabPanel>
        <p-tabPanel header="Add products">
             <app-add-Product></app-add-Product>
        </p-tabPanel>
        <p-tabPanel header="Edit products">
            <app-lista></app-lista>
        </p-tabPanel>
    </p-tabView>